package-db: /Users/Harada/haskell/scheme48/cabal-dev/packages-7.4.2.conf
local-repo: /Users/Harada/haskell/scheme48/cabal-dev/packages
user-install: False
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /Users/Harada/Library/Haskell/repo-cache
world-file: /Users/Harada/Library/Haskell/logs/world
library-profiling: True
documentation: True
doc-index-file: /Users/Harada/Library/Haskell/doc/index.html
symlink-bindir: /Users/Harada/Library/Haskell/bin
build-summary: /Users/Harada/haskell/scheme48/cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  libexecdir: $prefix/libexec
  prefix: /Users/Harada/haskell/scheme48/cabal-dev/
  libsubdir: $pkgid/$compiler
  datasubdir: 
  docdir: $datadir/doc/$pkgid
install-dirs global
  libdir: $prefix/lib
  prefix: /Users/Harada/haskell/scheme48/cabal-dev/
  libsubdir: $pkgid/$compiler
  datasubdir: 
  docdir: $datadir/doc/$pkgid